body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('image/composicao-do-conceito-de-verdade-abstrata.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #app {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  #resultMessage {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }